<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <p><b><%= posts.title %> - <%= posts.created_at %></b></p>
    <div>
        <p id="post-text" style="padding-left: 20px; margin-bottom: 25px;"><%= posts.review %></p>
    </div>
   <form action="/posts/<%= posts._id %>/addComment" method="post">
    <textarea name="comment" id="comment" cols="70" rows="10" placeholder="Write your comment here"></textarea>
    <button>Add Comment</button>
   </form>
 <style>
form {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(230, 172, 113);
    box-shadow: 0 0 10px rgba(206, 104, 104, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

form textarea {
    resize: none;
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(238, 77, 9);
    color: #fff;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #b4ff33;
}
        </style>
     </body>
</html>