<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <div>
        <div>
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="email">
                <input type="password" name="password" placeholder="Password">
                <button>Log In</button>
                <% if(err){ %>
                    <%= err %>
                <% } %>
            </form>
        </div>
        <div>
            <h2>Sign-up</h2>
            <form action="/signup" method="post">
                <input type="text" name="firstname" placeholder="first name">
                <input type="email" name="email" placeholder="email">
                <input type="password" name="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
            <% if(err){ %>
                <%= err %>
            <% } %>
        </div>
    </div>
</body>
</html>